#UserInput{
    text-align: left;
}

#UserInputForm{
    text-align: end;
    padding-bottom: 1%;
}

.UserInputContainer{
    border-top: none;
    padding: 1%;
    color:white;
}

.UserMessage{
    vertical-align:middle;
}

.BotMessage{
    width:50%;
}

.BotMessageBody{
    background-color: dodgerblue;
    color:white;
}

#ChatBox{
    padding:1%;
    flex-wrap: wrap;
    border-bottom: none;
}

.Footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
  }